<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Oops! Maintainance</title>
    </head>
    <body>
        <h1>We will be back shortly</h1>
        <p>This website is currently under maintainance</p>
    </body>
</html>